body {
  background: #000000 url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  border-radius: 0;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
  margin-top: 50px;
  padding-top: 15px;
}

article.content {
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
}

.cover {
  width: 100%;
  border-radius: 8px;
  margin-top: 30px;
}

.narrow_button {
  width: 180px;
}

.red {
  color: red;
}

.pdr10 {
  padding-right: 0;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mtp3 {
  margin-top: 3%;
}

.img {
  width: 100%;
  border-radius: 0;
}

.img-thumbnail {
  max-width: 400px;
}

.navbar-inverse {
  background-color: rgb(65, 118, 237);
  border-color: rgb(65, 118, 237)
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  border-color: #fff;
  background-color: rgb(65, 118, 237)
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #4A61DC;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav {
  margin-top: 0;
}

.navbar-toggle {
  margin-right: 15px;
}

.navbar-header .text-search {
  width: 100%;
  margin: 7px 15px 5px 15px;
  height: 35px;
  padding: 5px 10px;
}

.icon-search {
  background: url(http://m.blogtruyen.com/Content/images/icon_search.png) no-repeat;
  background-position: calc(100% - 9px) center;
  border-radius: 0;
  background-color: #fff;
  border: 0;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none;
}

.ps-relative {
  position: relative;
}

.list-manga .item {
  margin-top: 10px;
  padding: 5px;
  background: #EFEFEF;
}

.list-manga .item .title {
  font-weight: bold;
  color: blue;
}

.list-manga .item .introduce-home {
  word-wrap: break-word;
}

.gridview .list-manga .item {
  margin-bottom: 10px;
}

.gridview .list-manga .item .title {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, .6);
  height: 47px;
  overflow: hidden;
}

.gridview .list-manga .item .title a {
  color: #fff;
}

.gridview.listmanga-char .header h1 {
  font-size: 18px;
}

.gridview.listmanga-char .header hr {
  margin: 5px auto;
}

.gridview.listmanga-char .header .description ul li {
  margin-right: 5px;
  display: inline-block;
  background: #ccc;
  padding: 2px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.gridview.listmanga-char .header .description ul li.active {
  background: red;
}

.gridview.listmanga-char .header .description ul li.active a {
  color: #fff;
}

.gridview.listmanga-cate .header h1 {
  font-size: 18px;
}

.gridview.listmanga-cate .header .ul-cate {
  display: none;
}

.gridview.listmanga-cate .header .ul-cate ul li {
  display: inline-block;
  background: #ccc;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.gridview.listmanga-cate .header .ul-cate ul li.active {
  background: red;
}

.gridview.listmanga-cate .header .ul-cate ul li.active a {
  color: #fff;
}

.pagination.paging li {
  display: inline-block;
  vertical-align: middle;
}

.pagination.paging .disabled a {
  background: #ddd;
  cursor: not-allowed;
}

.pagination.paging .disabled a .glyphicon {
  color: #ccc;
}

.manga-detail h1 {
  font-size: 18px;
}

.manga-detail .introduce {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
}

.manga-detail .catetgory {
  margin-top: 5px;
}

.manga-detail .catetgory ul li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.manga-detail .catetgory ul li.first {
  background: #fff;
}

.manga-detail .catetgory ul li a {
  color: #fff;
  background: #0B6950;
  padding: 1px 5px;
  border-radius: 5px;
  display: block;
}

.manga-detail .list-chapter .panel {
  border-radius: 0;
}

.manga-detail .list-chapter .panel-heading {
  border-radius: 0;
  padding: 7px 10px;
}

.manga-detail .list-chapter .panel-body {
  padding: 10px 0;
}

.manga-detail .list-chapter .panel-body ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.manga-detail .list-chapter .panel-body ul li:last-child {
  border-bottom: 0;
}

.manga-detail .list-chapter .panel-body ul li a {
  display: block;
  padding: 5px 10px;
}

.manga-detail .list-chapter .paging ul li {
  display: inline-block;
  margin-right: 5px;
}

.manga-detail .list-chapter .paging ul li a {
  background: #337ab7;
  color: #fff;
  padding: 5px 7px;
  text-decoration: none;
}

.manga-detail .list-chapter .paging ul li a.disabled {
  background: #464343;
}

.manga-detail .list-chapter .paging ul li select {
  height: 25px;
  width: 60px;
}

.manga-detail .area-comment {
  margin-bottom: 100px;
  margin-top: 15px;
}

.manga-detail .area-comment .form-comment {
  padding: 10px;
  background: #ccc;
}

.manga-detail .nav-tabs > li > a {
  background: #337ab7;
  color: #fff;
}

.manga-detail .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #ccc;
}

.manga-detail .item.bookmark-login a {
  color: #333;
  text-decoration: none;
}

/**============ #region COMMENT*/
.manga-detail .commment-content {
  padding-top: 15px;
}

.manga-detail .img-comment, .img-cm {
  max-width: 100%;
}

.manga-detail .bt-comment {
  padding: 10px 0;
}

.manga-detail .bt-comment .comment-count {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.manga-detail .list-comment .comment-scroll {
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.manga-detail .list-comment .ul-comment {
  margin-bottom: 10px;
}

.manga-detail .list-comment .ul-comment .c-content {
  padding: 5px;
  border: 1px solid #d8d8d8;
}

.manga-detail .list-comment .ul-comment .avtar {
  width: 50px;
  height: 50px;
}

.manga-detail .list-comment .ul-comment .show-reply {
  margin-top: 5px;
  background: #01C09B;
  border-radius: 5px;
}

.manga-detail .list-comment .ul-comment .show-reply .span-reply {
  display: block;
}

.manga-detail .list-comment .ul-comment .form-reply {
  display: none;
  margin-top: 10px;
}

.manga-detail .list-comment .ul-comment .sub-comment .sub-content {
  border: 1px solid #ccc;
  padding: 5px;
}

.manga-detail .list-comment .ul-comment .sub-comment .sub-c-item {
  padding: 5px;
  margin-top: 10px;
}

.manga-detail .list-comment .ul-comment .user-info .user a {
  font-weight: bold;
  text-decoration: none;
}

.manga-detail .list-comment .ul-comment .user-info .time {
  font-style: italic;
  font-size: 12px;
}

.manga-detail .list-comment .ul-comment .comment-delelete-by {
  font-size: 12px;
}

.manga-detail .list-comment {
  margin-top: 25px;
}

.manga-detail .msg-error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

.manga-detail .replyfrom {
  display: none;
  font-size: 13px;
  font-weight: bold;
}

.chapter-detail {
  margin-bottom: 50px;
}

.chapter-detail .content img {
  max-width: 100%;
  margin-bottom: 20px;
}

.chapter-detail .content {
  padding: 5px;
}

.chapter-detail .content .chapter-caption-container {
  text-align: center
}

.chapter-detail .content .img-caption-container {
  background: url("http://www.blogblog.com/1kt/transparent/black50.png") repeat scroll left top rgba(0, 0, 0, 0);
  /*display: inline-block;*/
  display: table;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  z-index: 1000;
}

.chapter-detail .content .img-caption-container img {
  margin: 0;
  padding: 0;
}

.manga-detail .like-buttons > .item {
  font-weight: normal;
  padding: 3px 5px;
  /*display: none;*/
  border: 1px solid #02afe1;
  background-color: #78daf6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.highlight {
  color: orange !important;
}

.headerNav {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 10;
  border: 0;
}

.nav-up {
  top: -50px;
}

.navbar-collapse {
  position: relative;
  background: rgb(65, 118, 237);
  margin-left: -5px !important;
  margin-right: -5px !important;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1023px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 767px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-header .text-search {
    width: 100% !important;
  }

  .navbar-toggle {
    display: block
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important
  }

  .navbar-nav > li, .navbar-nav {
    float: none;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none !important
  }
}

@media screen and (min-width: 376px) {

}

@media screen and (max-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-bottom: 1px solid #677FFF;
  }

  .navbar-inverse .navbar-nav > li:last-child > a {
    border-bottom: 0;
  }

}

@media screen and (max-width: 375px) {
}